.link {
    color: #dedede;
  }

  .link:hover {
    color: #dedede;
  }

.baseFunding {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 390px;
    height: 655px;
    background: #2f2e2e;
    background-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  }
  
  .slideBarFunding {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
    width: 300px;
    height: 48px;
    border-radius: 8px;
    border: solid #dedede;
    background: #15803d;
    background-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.5);
  }
  
  .slideHighlightFunding {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 48px;
    border-radius: 4px;
    background: #0e582a;
    background-blend-mode: normal;
    cursor: pointer;
  }
  
  .ageFunding {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 22px;
    color: #dedede;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }
  
  .riskFunding {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 22px;
    color: #dedede;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }
  
  .fundingFunding {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 22px;
    color: #dedede;
    font-family: Inter;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  .greenBoxFunding {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 487px;
    border-radius: 8px;
    border: solid #dedede;
    background: #15803d;
    background-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  }
  
  .fundingRow {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-right: 10px;
    gap: 15px;
    line-height: 1;
  }
  
  .fundingHeader {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
    color: #dedede;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    gap: 10px;
  }
  
  .dollarInput {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 89px;
    height: 20px;
    border: 1px solid #bdbdbd;
    background: #ffffff;
    background-blend-mode: normal;
    color: black;
    font-size: 16px;
  }

  #account, #firm {
    width: 95px;
    height: 23px;
  }
  
  .textOutput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 244px;
    height: 225px;
    border-radius: 4px;
    border: solid #dedede;
    background: #0e582a;
    background-blend-mode: normal;
  }
  
  .textOutput p {
    font-size: 18px;
  }
  
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 93px;
    height: 40px;
    border: 1px solid #dedede;
    background: #2f2e2e;
    background-blend-mode: normal;
  }
