.guideCSS {
    padding: 4px 6vw;
}

.guideAge, .guideFunding, .guideRisk, .guidePortfolio {
    width: 100%;
    background-color: #15803D;
    border-radius: 8px;
    border: 2px solid white;
    margin: 24px 0px;
}

.guideAge h2, .guideFunding h2, .guideRisk h2, .guidePortfolio h2 {
    margin-top: 4px;
    text-align: center;
    text-decoration: underline;
}

.guideAge h3, .guideFunding h3, .guideRisk h3, .guidePortfolio h3 {
    padding: 0px 16px;
    line-height: 0.5;
}

.guideAge p, .guideFunding p, .guideRisk p, .guidePortfolio p {
    padding: 0px 16px;
}

.guideDisclaimer {
    font-weight: bold;
    text-transform: uppercase;
    color: gold;
    margin-bottom: 16px;
}

#buttonGuide {
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    white-space: nowrap;
}

