.link {
    color: #dedede;
  }

  .link:hover {
    color: #dedede;
  }

.baseRisk {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 390px;
    height: 844px;
    background: #2f2e2e;
    background-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  }
  
  .slideBarRisk {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
    width: 300px;
    height: 48px;
    border-radius: 8px;
    border: solid #dedede;
    background: #15803d;
    background-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.5);
  }
  
  .slideHighlightRisk {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 48px;
    border-radius: 4px;
    background: #0e582a;
    background-blend-mode: normal;
    cursor: pointer;
  }
  
  .ageRisk {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 22px;
    color: #dedede;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
  }
  
  .riskRisk {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 22px;
    color: #dedede;
    font-family: Inter;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }
  
  .fundingRisk {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 22px;
    color: #dedede;
    font-family: Inter;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }

  .greenBoxRisk {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 487px;
    border-radius: 8px;
    border: solid #dedede;
    background: #15803d;
    background-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  }
  
  .sliderOutput {
    margin: 5px 20px;
    height: 100px;
  }

  .sliderOutput h1 {
    font-size: 22px;
  }

  .sliderbar {
    margin-top: 110px;
  }
  
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 150px;
    height: 40px;
    border: 2px solid #dedede;
    background: #2f2e2e;
    background-blend-mode: normal;
    border-radius: 4px;
  }

