.base {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 390px;
    height: 655px;
    background: #2f2e2e;
    background-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  }
  
  .greenBox {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 300px;
    height: 291px;
    border-radius: 8px;
    border: solid #dedede;
    background: #15803d;
    background-blend-mode: normal;
    box-shadow: 0px 4px 4px rgba(0,0,0,0.25);
  }

  .averageJoe {
    display: flex;
    align-items: top;
    width: 265px;
    height: 30px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
  }
  
  .slogan {
    display: flex;
    justify-content: center;
    width: 264px;
    height: 84px;
    color: #dedede;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 400;
    align-items: center;
  }
  
  .startButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 118px;
    height: 40px;
    border: 2px solid #dedede;
    background: #2f2e2e;
    background-blend-mode: normal;
    border-radius: 4px;
  }
  
  .startButtonLabel {
    width: 82px;
    height: 20px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.08px;
  }
  

  