  .startButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 118px;
    height: 40px;
    border: 2px solid #dedede;
    background: #2f2e2e;
    background-blend-mode: normal;
    border-radius: 4px;
  }
  
  .startButtonLabel {
    width: 82px;
    height: 20px;
    color: #ffffff;
    text-align: center;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: -0.08px;
  }
  
.welcome-page-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: #15803D;
}

  .title {
    position: relative;
  }
  
  #avgJoeImg {
    display: block; /* Ensure image takes up full width */
    margin: auto; /* Center the image horizontally */
    max-width: 100vw;
    max-height: 100vh;
  }
  
  #welcomeButton {
    position: absolute;
    top: 91%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2f2e2e; /* Change this to your button's background color */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
  }
